.welcome-section {
    height: 70vh;
    background-image: linear-gradient(
            rgba(27, 32, 33, 0.7),
            rgba(27, 32, 33, 0.7)
        ),
        url(../images/about-images/page4\ part2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 24px 24px;
}
@media (max-width: 767px) {
    .welcome-section {
        height: 103vh;
    }
}
.hero-description {
    color: var(--second-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px);
    border-radius: 0 0 40px 40px;
}
.hero-description h1 {
    font-size: 3.5rem;
    padding: 40px 0;
}
@media (max-width: 767px) {
    .hero-description h1 {
        font-size: 3.2rem;
    }
}
.hero-description p {
    font-size: 1.2rem;
}

/* team section */
.team-section {
    margin-top: 75px;
}
.team-section h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--fourth-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-section h1::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 150px;
    height: 5px;
    background: rgb(95, 147, 154);
    background: -moz-linear-gradient(
        90deg,
        rgba(95, 147, 154, 1) 0%,
        rgba(234, 200, 175, 1) 33%,
        rgba(234, 200, 175, 1) 67%,
        rgba(95, 147, 154, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(95, 147, 154, 1) 0%,
        rgba(234, 200, 175, 1) 33%,
        rgba(234, 200, 175, 1) 67%,
        rgba(95, 147, 154, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(95, 147, 154, 1) 0%,
        rgba(234, 200, 175, 1) 33%,
        rgba(234, 200, 175, 1) 67%,
        rgba(95, 147, 154, 1) 100%
    );
    border-radius: 2px;
}
.team-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .team-members {
        flex-direction: column;
    }
}
.team-members > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    border-radius: 12px;
    width: 250px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 12px;
    transition: var(--main-transition);
}
.team-members > div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.04);
}
.omar {
    background-image: url(../images/about-images/omar.jpg);
}
.ahmad-mahmoud {
    background-image: url(../images/about-images/ahmad-mahmoud.jpg);
}
.ahmad-jarwan {
    background-image: url(../images/about-images/ahmad-jarwan.jpg);
}
.member-description {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border-radius: inherit;
    padding: 12px;
    /* text-shadow: 2px 2px 8px var(--fourth-color); */
}
/* .team-members > div img {
    width: 250px;
    height: 230px;
    border-radius: inherit;
} */

/* .welcome {
    background-color: rgb(197, 207, 206);
} */
/* h1 {
    font-style: oblique;
    margin-left: 5%;
    font-size: 300%;
    margin-bottom: 5px;
} */
div.part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
    font-size: 20.5px;
}
div.part1 p {
    padding: 5%;
}

div.part2 {
    height: 133vh;
    background-image: linear-gradient(
            rgba(27, 32, 33, 0.72),
            rgba(27, 32, 33, 0.72)
        ),
        url("../images/about-images/page4\ part2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: xx-large;
    padding: 5%;
    color: bisque;
}

.hiring-section {
    /* background-color: #ddd; */
    background-image: linear-gradient(
        90deg,
        rgba(27, 32, 33, 1) 0%,
        rgba(53, 90, 97, 1) 55%,
        rgba(79, 124, 130, 1) 90%,
        rgba(95, 147, 154, 1) 100%
    );
    color: bisque;
    margin-top: 75px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}
.hiring-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hiring-section > div > h2 {
    font-size: 2rem;
    margin-top: 15px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-row {
    display: flex;
}
@media (max-width: 767px) {
    .form-row {
        flex-direction: column;
    }
}
.form-row > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
label {
    padding-bottom: 8px;
    margin-left: 4px;
    font-size: 1.15rem;
}
input,
button {
    background-color: transparent;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px 8px 0 0;
    font-size: 1.2rem;
    outline: none;
    transition: var(--main-transition);
    border-bottom: 2px solid var(--third-color);
}
input:focus {
    background-color: #aaaaaa2b;
}
@media (max-width: 767px) {
    input {
        font-size: 1rem;
    }
}
::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.submit {
    margin-top: 30px;
    width: 80%;
    background-color: #aaaaaa70;
    border: 1px solid rgba(179, 179, 179, 0.521);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
/* to hide Hide Arrows From Input Number in chrome, edge and opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* to hide Hide Arrows From Input Number in firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

table {
    display: none;
    border: 5px;
    width: 100%;
    align-items: center;
    padding: 28px;
    background-image: linear-gradient(
        90deg,
        rgba(27, 32, 33, 1) 0%,
        rgba(53, 90, 97, 1) 55%,
        rgba(79, 124, 130, 1) 90%,
        rgba(95, 147, 154, 1) 100%
    );
    color: bisque;
}
tr {
    text-align: center;
}
#first_row {
    font-size: 149%;
}
#sconed_row {
    font-size: 135%;
}
